.container {
  position: relative;
  width: 100%;
  padding-top: 4px;
}
.input {
  height: 48px;
  width: 100%;
  color: var(--neutral06);
  padding-left: 42px;
  border-radius: 12px;
  border: 1px solid var(--neutral06);
}
.input:focus {
  outline: none;
  border: 1px solid var(--neutral06);
}

.inputContainer {
  width: 100%;
  height: 48px;
  color: var(--neutral06);
  border-radius: 15px;
  margin-top: 10;
  display: flex;
  align-items: center;
}
.currency {
  position: absolute;
  background-color: var(--neutral02);
  height: 47px;
  width: 36px;
  border-radius: 12px 0px 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.3px solid var(--neutral06);
  border-top: 0.3px solid var(--neutral06);
  border-bottom: 0.3px solid var(--neutral06);
}

.no-outline:focus {
  outline: none;
}
