.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-block: 10px;
  gap: 10px;
}
.cardSelect {
  width: 145px;
  height: 108px;
  background: rgba(225, 228, 246, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    color: var(--primary05);
  }
}
