.container {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 25px;
  margin-top: 8px;
  .copy {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--primary05);
  }
}
