.filter {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--neutral07);
  border: 1px solid var(--neutral05);
  padding: var(--space-md-1) var(--space-md-2);
  border-radius: 10px;
}
