.table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
  // height: 60vh;
  padding-bottom: 20px;
  overflow: auto;
  // border-radius: 16px;
}

.header {
  border-radius: 16px;
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #565a63;
}

.th {
  border-bottom: 3px solid #5864ae;
  font-size: 14px;
  font-weight: 400;
  color: #5864ae;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  width: fit-content;
}

.td {
  // border: 1px solid #dddddd;
  // text-align: left;
  // padding: 8px;
  // height: 72px;
  // border-bottom: 1px solid var(--neutral03);
  // color: #565a63;
  text-align: left;
  height: 72px;
  border-bottom: 1px solid var(--neutral03);
  color: var(--byte);
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding-right: 12px;
  gap: 12px;
}

// .tr:nth-child(even) {
//   border-bottom: 1px solid var(--neutral03);
//   height: 4rem;
// }

.tranIcon {
  padding: 10px;
  gap: 10px;
  width: 40px;
  height: 40px;
  background: var(--success-light);
  border-radius: 32px;
  margin-right: var(--space-md-1);
}

.description {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  // color: var(--neutral08);
  color: #30333b;
}

.subDescription {
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 20px;
  // color: var(--neutral07);
  // opacity: 0.8;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  // color: var(--neutral07);
  // opacity: 0.8;
  color: #565a63;
}
