.close {
  margin-top: var(--space-md-1);
}
.container {
  padding: 3rem 1rem;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;

  .copy {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--primary05);
  }
}
