.close{
margin-top: var(--space-md-1) ;
}
.container {
  padding: 3rem 1rem;
  margin-bottom: var(--space-md-3);
  .copy {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--primary05);
  }
}

