.container {
  height: 40px;
  border: 1.5px solid #000000;
  border-radius: 12px;
  width: 100%;
  background: var(--wyde);
  color: var(--white);
}
.btn {
  padding: 0px 3rem;
  height: 40px;
  border: none;
  border-radius: 12px;
  border-radius: 12px;
}

.btnPrimary {
  color: var(--white);
  background: var(--byte);
  background: linear-gradient(125.35deg, #6a78d1 0%, #4e5aa5 100%);
}

.btnLight {
  color: var(--byte);
  background: var(--primary01);
  // background: linear-gradient(125.35deg, #6a78d1 0%, #4e5aa5 100%);
}

.btnBlock {
  width: 100%;
}

.btnLarge {
  height: 60px;
}
