.container {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 50%;
}
.background {
  width: 50%;
  height: 100vh;
}
.side {
  position: relative;
  width: 100%;
  background-image: url('../../../public/backgroundbos.png');
  height: 100%;
}
