.container {
  padding: 10px 25px;
  gap: 8px;
  width: 439px;
  min-height: 400px;
  background: var(--neutral01);
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: center;
 align-items: center;
}

.emptyState {
  color: var(--success);
}
