.success {
  background-color: var(--success-light);
  color: var(--success);
}

.warning {
  background-color: var(--warning-light);
  color: var(--warning-dark);
}

.danger {
  background-color: var(--danger-light);
  color: var(--danger-dark);
}