:root {
  --byte: #6a78d1;
  --black: #221f1f;
  --white: #ffffff;
  --danger: #e60000;
  --grey: #535353;
  --neutral07: #565a63;
  --neutral08: #30333b;
  --neutral09: #15171f;

  --primary01: #eff1fa;
}
