:root {
  --byte: #6a78d1;
  --black: #221f1f;
  --white: #ffffff;
  --danger: #e60000;
  --grey: #535353;
  --neutral01: #f8f9fa;
  --neutral02: #f0f2f5;
  --neutral03: #e6eaed;
  --neutral04: #d0d6db;
  --neutral05: #808691;
  --neutral06: #808691;
  --neutral07: #565a63;
  --neutral08: #30333b;
  --neutral09: #15171f;

  --primary01: #eff1fa;
  --primary04: #838fd9;
  --primary05: #6a78d1;
  --primary06: #5864ae;
  --primary08: #353c69;
  --primary09: #232846;

  --grey04: #3a3a3c;
  --grey-faded:#B2B8C2;
;
  --success: #19a97b;
  --success-light: #dbfff2;
  --success-dark: #117454;

  --danger-light: #fff0f4;
  --danger-dark: #882537;

  --warning-light: #ffecdb;
  --warning-dark: #944a05;
  --neon: #ffecdb; //remove
}
