html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

link {
  cursor: pointer;
  color: var(--wyde);
}

.flex {
  display: flex;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.flex-container-left {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
  // max-width:fit-content
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

//space

.mr-sm-1 {
  margin-right: var(--space-sm-1);
}

.mr-sm-2 {
  margin-right: var(--space-sm-2);
}

.mb-0 {
  margin-bottom: var(--space-0);
}

.mb-md-1 {
  margin-bottom: var(--space-md-1);
}

.mb-md-2 {
  margin-bottom: var(--space-md-2);
}

.mb-md-3 {
  margin-bottom: var(--space-md-3);
}

.mt-0 {
  margin-top: var(--space-0);
}

.mt-md-2 {
  margin-top: var(--space-md-2);
}

.mt-md-1 {
  margin-top: var(--space-md-1);
}

.mt-md-3 {
  margin-top: var(--space-md-3);
}

.my-md-1 {
  margin-top: var(--space-md-1);
  margin-bottom: var(--space-md-1);
}

.my-md-2 {
  margin-top: var(--space-md-2);
  margin-bottom: var(--space-md-2);
}

.mx-md-1 {
  margin-right: var(--space-md-1);
  margin-left: var(--space-md-1);
}

.mr-md-1 {
  margin-right: var(--space-md-1);
}

.gap-1 {
  gap: var(--space-md-1);
}

.gap-2 {
  gap: var(--space-md-2);
}

.w-25 {
  width: 25% !important;
}

.w-33 {
  width: 33.33% !important;
}

.w-50 {
  width: 50% !important;
}

.w-66 {
  width: 66% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.float-right {
  float: right;
}

.container-border-rounded {
  padding: 16px;
  border: 1px solid #e6eaed;
  border-radius: 16px;
  width: 100%;
}

.image-rounded {
  border-radius: 50%;
}



@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
