:root {
  --space-sm-1: 3px;
  --space-sm-2: 5px;
  --space-sm-3: 10px

  --space-md-1: 1rem;
  --space-md-2: 2rem;
  --space-md-3: 3rem;

  --space-lg-1: 5rem;
  --space-lg-2: 8rem;
  --space-lg-3: 10rem;
  
}